{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Create new Season'|trans }}</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">{{ 'Back to list'|trans }}</a>
{% endblock %}
