{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Create new actor'|trans }}</h1>

    {{ include('actor/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">{{ 'Back to list'|trans }}</a>
{% endblock %}
